# Función 4

1. **UsersNotRecommend( año : int )**:
- DataFrame a utilizar: `user_review_sentiment`
- DataFrame a utilizar: `steam_games`
- Utiliza la columna  `posted` para saber los años de posteo.
- Utiliza la columna `recommend` para saber si el juego es recomendado o no.
- Utiliza la columna `sentiment` para saber su grado de recomendación
def UsersNotRecommend( año : int ): Devuelve el top 3 de juegos MENOS recomendados por usuarios para el año dado. (reviews.recommend = False y comentarios negativos)

Se importa la librería necesaria

In [24]:
import pandas as pd

Se utiliza el dataframe 'user_review_sentiment', así que se carga.

In [25]:
df1 = pd.read_csv('user_review_sentiment.csv')

Se asegura que todos los registros contemplados en la columna 'posted'

In [26]:
df1['posted'] = df1['posted'].astype(str)
df1

,user_id,helpful,item_id,posted,recommend,polarity,sentiment
0,76561197970982479,No ratings yet,1250.0,"Posted November 5, 2011.",True,0.174444,2
1,76561197970982479,No ratings yet,22200.0,"Posted July 15, 2011.",True,0.337500,2
2,76561197970982479,No ratings yet,43110.0,"Posted April 21, 2011.",True,0.050000,2
3,js41637,15 of 20 people (75%) found this review helpful,251610.0,"Posted June 24, 2014.",True,0.114583,2
4,js41637,0 of 1 people (0%) found this review helpful,227300.0,"Posted September 8, 2013.",True,-0.036111,0
...,...,...,...,...,...,...,...
59300,76561198312638244,No ratings yet,70.0,Posted July 10.,True,0.233333,2
59301,76561198312638244,No ratings yet,362890.0,Posted July 8.,True,0.142500,2
59302,LydiaMorley,1 of 2 people (50%) found this review helpful,273110.0,Posted July 3.,True,0.087500,2
59303,LydiaMorley,No ratings yet,730.0,Posted July 20.,True,1.000000,2
59304,LydiaMorley,No ratings yet,440.0,Posted July 2.,True,0.650000,2

Se revisa el dataframe

In [27]:
# Reemplaza 'df' con el nombre real de tu DataFrame y 'columna_texto' con el nombre de la columna que deseas modificar
df1['posted'] = df1['posted'].str.replace('Posted', '', case=False)


# Reemplaza 'df' con el nombre real de tu DataFrame y 'columna_texto' con el nombre de la columna que deseas modificar
palabras_a_eliminar = [    "January",
    "February",
    "March",
    "April",
    "May",
    "June",
    "July",
    "August",
    "September",
    "October",
    "November",
    "December"]

for palabra in palabras_a_eliminar:
    df1['posted'] = df1['posted'].str.replace(palabra, ' ', case=False)

df1['posted'] = df1['posted'].str.replace(',', '-', case=False)
df1['posted'] = df1['posted'].str.replace('.', '', case=False)

# Divide la columna 'posted' por el guion y selecciona la segunda parte
df1['posted'] = df1['posted'].str.split('-').str[1]

# Convierte la columna 'posted' a tipo numérico si es necesario
df1['posted'] = pd.to_numeric(df1['posted'], errors='coerce')

C:\Users\Administrador\AppData\Roaming\Python\Python37\site-packages\ipykernel_launcher.py:23: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.

Se elimina los datos NaN de la columna 'posted'

In [28]:
df1.dropna(subset = ['posted'], inplace= True)

Se convierte en entero los registros de la columna 'posted'

In [29]:
df1['posted'] = df1['posted'].astype(int)

Se filtra los registros que son recomendados

In [30]:
df1_recommend_false = df1[df1['recommend'] == False]

del dataframe creado, filtra las columnas 'posted', 'item_id', 'sentiment'

In [31]:
df1_recommend_false = df1_recommend_false [[ 'posted', 'item_id', 'sentiment']]

Renombra la columna 'item_id'

In [32]:
df1_recommend_false.rename(columns={'item_id': 'id'}, inplace=True)

Revisa el dataframe creado

In [33]:
df1_recommend_false

       posted        id  sentiment
48       2014   33440.0          0
62       2015  359320.0          0
68       2014     570.0          1
84       2015  383080.0          1
122      2015  417860.0          1
...       ...       ...        ...
59087    2015  295110.0          0
59144    2015  311210.0          0
59166    2015  305920.0          0
59225    2015  370240.0          0
59244    2015  391460.0          1

[5004 rows x 3 columns]

Reemplacemos los valores en la columna 'sentiment' del DataFrame df1_recommend_false. Específicamente, reemplaza todos los valores iguales a 0 con el valor 2.

In [34]:
df1_recommend_false['sentiment'] = df1_recommend_false['sentiment'].replace(0, 2)

Revisemos el dataframe transformado.

In [35]:
df1_recommend_false

       posted        id  sentiment
48       2014   33440.0          2
62       2015  359320.0          2
68       2014     570.0          1
84       2015  383080.0          1
122      2015  417860.0          1
...       ...       ...        ...
59087    2015  295110.0          2
59144    2015  311210.0          2
59166    2015  305920.0          2
59225    2015  370240.0          2
59244    2015  391460.0          1

[5004 rows x 3 columns]

creamos un DataFrame que contiene el total de sentimientos agrupados por año y por identificador ('id'), luego ordena este DataFrame en función del total de sentimientos de mayor a menor. Esto te daría una idea de cuáles son los productos menos recomendados o con menos sentimientos positivos en cada año

In [36]:
df_menos_recomendado_x_anio = df1_recommend_false.groupby(['posted', 'id'])['sentiment'].sum().reset_index()

# Ordena de mayor a menor
df_menos_recomendado_x_anio = df_menos_recomendado_x_anio.sort_values(by='sentiment', ascending=False)

Revisamos el dataframe resultante

In [37]:
df_menos_recomendado_x_anio

      posted        id  sentiment
1044    2015  218620.0        265
827     2015     730.0        228
1056    2015  221100.0        133
480     2014  221100.0        112
187     2014     730.0         91
...      ...       ...        ...
193     2014    2450.0          1
1495    2015  344740.0          1
191     2014    1900.0          1
815     2015      30.0          1
1115    2015  235070.0          1

[1645 rows x 3 columns]

leemos el archivo csv que pertenece a 'steam games'

In [38]:
df2 = pd.read_csv('steam_games.csv')
df2 = df2[['app_name','id']]
df2

C:\Users\Administrador\AppData\Roaming\Python\Python37\site-packages\IPython\core\interactiveshell.py:3553: DtypeWarning: Columns (0,1,2,3,4,5,6,7,8,9,10,12) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

                        app_name        id
0                            NaN       NaN
1                            NaN       NaN
2                            NaN       NaN
3                            NaN       NaN
4                            NaN       NaN
...                          ...       ...
120440            Colony On Mars  773640.0
120441  LOGistICAL: South Africa  733530.0
120442             Russian Roads  610660.0
120443       EXIT 2 - Directions  658870.0
120444               Maze Run VR  681550.0

[120445 rows x 2 columns]

Hacemos merge del dataframe tratado anteriormente y 'steam games'

In [39]:
df_menos_recomendado_x_anio = df_menos_recomendado_x_anio.merge(df2, on='id', how='left')
df_menos_recomendado_x_anio

      posted        id  sentiment                          app_name
0       2015  218620.0        265                          PAYDAY 2
1       2015     730.0        228  Counter-Strike: Global Offensive
2       2015  221100.0        133                              DayZ
3       2014  221100.0        112                              DayZ
4       2014     730.0         91  Counter-Strike: Global Offensive
...      ...       ...        ...                               ...
1640    2014    2450.0          1                  Bloody Good Time
1641    2015  344740.0          1                          CRYPTARK
1642    2014    1900.0          1                        Earth 2160
1643    2015      30.0          1                     Day of Defeat
1644    2015  235070.0          1                          Bad Bots

[1645 rows x 4 columns]

Elimina datos NaN en el dataframe en la columna 'app_name'

In [40]:
df_menos_recomendado_x_anio.dropna(subset=["app_name"], inplace=True)

Revisamos los años en el dataframe

In [41]:
años = df_menos_recomendado_x_anio['posted'].unique()
años

array([2015, 2014, 2013, 2011, 2010, 2012], dtype=int64)

encontramos los tres IDs con los puntajes de 'sentiment' más altos para cada año en la lista años_interés y los almacena en un DataFrame result_df para su posterior análisis o visualización.

In [42]:
años_interés = [2014, 2015, 2013, 2012, 2011, 2010]

# Crear un DataFrame vacío para almacenar los resultados
result_df = pd.DataFrame(columns=['posted', 'id', 'sentiment'])

# Iterar a través de cada año y obtener los tres IDs con el puntaje de "sentiment" NEGATIVO más alto
for año in años_interés:
    df_año = df_menos_recomendado_x_anio[df_menos_recomendado_x_anio['posted'] == año]
    top_3_ids = df_año.nlargest(3, 'sentiment')
    result_df = pd.concat([result_df, top_3_ids], ignore_index=True)


# Restablecer el índice del DataFrame resultante
result_df.reset_index(drop=True, inplace=True)

# Muestra el resultado
print(result_df)

   posted        id sentiment                          app_name
0    2014  221100.0       112                              DayZ
1    2014     730.0        91  Counter-Strike: Global Offensive
2    2014     570.0        70                            Dota 2
3    2015  218620.0       265                          PAYDAY 2
4    2015     730.0       228  Counter-Strike: Global Offensive
5    2015  221100.0       133                              DayZ
6    2013  209160.0        26             Call of Duty®: Ghosts
7    2013     440.0        21                   Team Fortress 2
8    2013  224540.0        19     Ace of Spades: Battle Builder
9    2012  209870.0         2           Blacklight: Retribution
10   2012     440.0         2                   Team Fortress 2
11   2012     570.0         2                            Dota 2
12   2011   18700.0         4                  And Yet It Moves
13   2011     440.0         3                   Team Fortress 2
14   2011   33460.0         2                         From Dust
15   2010     440.0         2                   Team Fortress 2

Guardamos el dataframe resultado en el archivo csv.

In [43]:
result_df.to_csv('Funcion_4_jup.csv')

Haciendo un ejercicio de verificación...

In [44]:
users_not_recommend = pd.read_csv('Funcion_4_jup.csv')
users_not_recommend

    Unnamed: 0  posted        id  sentiment                          app_name
0            0    2014  221100.0        112                              DayZ
1            1    2014     730.0         91  Counter-Strike: Global Offensive
2            2    2014     570.0         70                            Dota 2
3            3    2015  218620.0        265                          PAYDAY 2
4            4    2015     730.0        228  Counter-Strike: Global Offensive
5            5    2015  221100.0        133                              DayZ
6            6    2013  209160.0         26             Call of Duty®: Ghosts
7            7    2013     440.0         21                   Team Fortress 2
8            8    2013  224540.0         19     Ace of Spades: Battle Builder
9            9    2012  209870.0          2           Blacklight: Retribution
10          10    2012     440.0          2                   Team Fortress 2
11          11    2012     570.0          2                            Dota 2
12          12    2011   18700.0          4                  And Yet It Moves
13          13    2011     440.0          3                   Team Fortress 2
14          14    2011   33460.0          2                         From Dust
15          15    2010     440.0          2                   Team Fortress 2

In [45]:
def UsersNotRecommend(posted):
    # Filtrar el DataFrame por el año dado
    df_año = users_not_recommend[users_not_recommend['posted'] == posted]

    # Aplicar las condiciones para obtener el top 3
    top_3_df = df_año[(df_año['sentiment'] >= 0) & (df_año['app_name'].notnull())]

    # Ordenar el DataFrame por 'sentiment' de mayor a menor
    top_3_df = top_3_df.sort_values(by='sentiment', ascending=False).head(3)

    # Crear una lista de diccionarios con el top 3
    top_3_dict = {}
    for i, row in top_3_df.iterrows():
        puesto = "Puesto " + str(i + 1 - top_3_df.index[0])
        top_3_dict[puesto] = row['app_name']

    return top_3_dict

In [46]:
# Ejemplo de uso:
posted = 2010
top_3_juegos = UsersNotRecommend(posted)
top_3_juegos

{'Puesto 1': 'Team Fortress 2'}